apiVersion: v1
kind: Service
metadata:
  name: {{ include "ocserv-agent.fullname" . }}
  labels:
    {{- include "ocserv-agent.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.grpcPort }}
    targetPort: grpc
    protocol: TCP
    name: grpc
  {{- if .Values.metrics.enabled }}
  - port: {{ .Values.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
    name: metrics
  {{- end }}
  selector:
    {{- include "ocserv-agent.selectorLabels" . | nindent 4 }}
